:host {
  display: block;
  width: fit-content;
  margin: auto;
}

codenames-board {
  width: 800px;
}

.app-container {
  display: flex;
  justify-content: space-around;
}

.game-container {
  display: flex;
}