:host {
  width: 18%;
  height: 17%;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: Roboto, verdana, sans-serif;
  font-size: 15pt;
  overflow-wrap: break-word;
  word-break: break-all;
  background: #e8e8e8;
  cursor: pointer;
  &.revealed, &.spymaster, &.endgame {
    cursor: default;
  }
}

span {
  margin: 0px 3px;
}

.blue {
  &.spymaster {
    color: #4183cc;
    font-weight: bold;
  }

  &.endgame {
    background: #a6c7ee;
  }

  &.revealed {
    background: #4183cc;
    color: #ffffff;
  }
}

.red {
  &.spymaster {
    color: #d13030;
    font-weight: bold;
  }

  &.endgame {
    background: #ecabab;
  }

  &.revealed {
    background: #d13030;
    color: #ffffff;
  }
}

.gray {
  &.spymaster {
    color: #000000;
    font-weight: bold;
  }

  &.revealed {
    background: #8e8e8e;
    color: #ffffff;
  }
}

.black {
  &.spymaster {
    background: #999999;
    outline: 5px solid #000000;
    font-weight: bold;
  }

  &.revealed, &.endgame {
    background: #000000;
    color: #ffffff;
    outline: 0;
  }
}
