dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/
component.d.ts

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

**/__pycache__/
**/db.sqlite3