:host {
  display: block;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: fit-content;
  cursor: pointer;
  border: #4a4a4a solid 2px;
  border-radius: 4px;
  color: #4a4a4a;

  &:hover {
    color: #FFF;
    background-color: #7d7d7d;
    border-color: #4a4a4a;
  }

  &:active {
    color: #FFF;
    background-color: #4a4a4a;
    border-color: #000;
  }
  
  &.on {
    color: #FFF;
    background-color: #4a4a4a;
    border-color: #000;
  }

  &.blue {
    color: #4183cc;
    border-color: #4183cc;

    &:hover {
      color: #FFF;
      background-color: #72aff5;
      border-color: #4183cc;
    }
  
    &:active, &.on {
      color: #FFF;
      background-color: #4183cc;
      border-color: #124f95;
    }
  
  }
  
  &.red {
    color: #d13030;
    border-color: #d13030;

    &:hover {
      color: #FFF;
      background-color: #f77d7d;
      border-color: #d13030;
    }
  
    &:active, &.on {
      color: #FFF;
      background-color: #d13030;
      border-color: #9f1010;
    }
  }

  // No text selection
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, verdana, sans-serif;
  font-size: 14pt;
  text-align: center;
  margin: 10px 5px;
}