:host {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 24pt;
}

.scores-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  div {
    width: 30%;
  }

  .blue {
    color: #4183cc;
  }

  .red {
    color: #d13030;
  }

  .turn-text {
    font-family: Roboto, verdana, sans-serif;
    font-size: 18pt;
    font-weight: bold;
  }
}